@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    background-color: #141414;
    color: #F3F3F3;
}

*::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}
  
*::-webkit-scrollbar-track {
    background: #141414;
}
  
*::-webkit-scrollbar-thumb {
    background-color: #F3F3F3;
    border-radius: 20px;
    border: 3px solid #141414;
}

/******GLOBAL******/
a{
    text-decoration: none;
    color: #F3F3F3;
}

h1{
    margin: 30px 40px;
    color: #F3F3F3;
}

h2{
    margin: 30px 40px;
}

button{
    padding: 15px 25px;
    border-radius: 5px;
    border:none;
    font-size: 15px;
    color: #f2f2f2;
    background-color: red;
    outline:none;
    cursor:pointer;
  }

/******NAVBAR******/

nav .left a{
    margin: 40px 10px;
}

nav .left a:hover{
    color: white;
}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: black;
    color: #F3F3F3;
    padding: 0 25px;
}

nav .left{
    display: flex;
    flex-wrap: wrap;
}

nav .right{
    display: flex;
    flex-wrap: wrap;
}

nav .right a{
    margin: 40px 10px;
}

.fas{
    margin-top: 25px;
}
/******SLIDER******/

.swiper {
    width: 80%;
    height: 400px;
    margin: 50px auto;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #141414;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    transform: scale(1.05);
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-pagination-bullet-active{
    background-color: red!IMPORTANT;
}


/******SECTION HOME/CATEGORIE*****/
.containerProduct{
    display: flex;
    text-align: center;
    margin: 30px;
}

.img{
    width: 250px;
}

.img:hover{
    transform: scale(1.05);
}

.description{
    width: 250px;
}

.containerListItem{
  display: flex;
    text-align: center;
    margin: 30px;
    overflow-x: auto;
}



/*****SECTION VIEW SPASE USER******/

.containerViewUser{
    margin: 50px auto;
    justify-content: center;
    display: flex;
    color: #545454;
}

.titleSpaceUser{
    text-align: center;
}

.avatar{
    border-radius: 10px 0px 0px 10px;
}

.vieuwDescUser{
    background-image:
    linear-gradient(#DEDFE3 2%, #AEB3B9 95%),
    radial-gradient(33% 100%, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%);
    background-blend-mode: screen;
    border-radius: 0px 10px 10px 0px;
}

/*****SECTION VIEW ITEM******/

.containerViewItem{
    display: flex;
    width: 80%;
    margin: 100px auto;
}

.viewDesc{
    border-radius: 0px 10px 10px 0px;
    background-image:
    linear-gradient(#DEDFE3 2%, #AEB3B9 95%),
    radial-gradient(33% 100%, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%);
    color: #545454;
}


.viewImg{
    border-radius: 10px 0px 0px 10px;
}

.viewP{
    margin: 20px;
}

/******FORM******/

.formUser{
    margin-top: 20px;
    background-image:
    linear-gradient(#DEDFE3 2%, #AEB3B9 95%),
    radial-gradient(33% 100%, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%);
    background-blend-mode: screen;
    padding: 40px 60px;
    border-radius: 10px;
    min-width: 300px;
    width: 80%;
    margin: 100px auto;
  }
  form h1{
    color: #545454;
    text-align:center;
  }
  form .social-media{
    margin-top: -10px;
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
  }
  form .social-media p{
    padding: 5px;
    width: 20px;
    margin-left: 10px;
    border-radius: 100%;
    border: 1px solid #545454;
    text-align: center;
    cursor:pointer;
    color: #545454;
  }
  form p.choose-email{
    color: #686868;
    text-align:center;
  }
  form .inputs {
    display: flex;
    flex-direction: column;
  }
  form .inputs input[type='email'], input[type='password'], input[type='text'], input[type='radio'], input[type='number'], input[type='file'], input[type='textarea']{
    padding: 15px;
    border: solid #878787;
    border-radius: 5px;
    background-color:#f2f2f2;
    outline:none;
    margin-bottom: 15px;
  }
  form p.inscription{
    font-size: 14px;
    margin-bottom: 20px;
    color: #878787;
  }
  form p.inscription span{
    color: red;
  }
  form button{
    padding: 15px 25px;
    border-radius: 5px;
    border:none;
    font-size: 15px;
    color: #f2f2f2;
    background-color: red;
    outline:none;
    cursor:pointer;
  }

  .ecoForm{
    color: #545454;
    font-weight: bold;
  }


  .formDelUser{
    background-color: red!IMPORTANT;
  }


  /*****SPACE ADMIN******/

/****LIST USERS*****/

table {
  margin: 0px auto;
 }

.titleListUsers{
  text-align: center;
  }

  /****LIST ITEM***/

  .titleListItem{
    text-align: center;
  }

/******FOOTER******/

footer {
    padding: 20px;
    text-align: center;
    color: #F3F3F3;
    background-color: #686868;
  }


textarea
{
 resize : vertical;
 height: 100px;
 border: solid 3px #878787;
}





