@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    background-color: #141414;
    color: #F3F3F3;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.site-content {
	flex: 1;
  margin-top: 50px;
}

/*
*::-webkit-scrollbar{
    width: 15px;
    height: 10px;

}
  
*::-webkit-scrollbar-track {
    background: #141414;
}
  
*::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 20px;
    border: 3px solid #141414;
}
*/
/******GLOBAL******/
a{
    text-decoration: none;
    color: #F3F3F3;
}

ul {
  list-style-type: none;
}

button{
    padding: 15px 25px;
    border-radius: 5px;
    border:none;
    font-size: 15px;
    color: #f2f2f2;
    background: #333333; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #333333, #dd1818); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #333333, #dd1818);
    outline:none;
    cursor:pointer;
  }

  .buttonSearch{
    padding: 5px 25px;
    border-radius: 5px;
    border:none;
    font-size: 15px;
    color: #f2f2f2;
    background: #333333; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #333333, #dd1818); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #333333, #dd1818);
    outline:none;
    cursor:pointer;
  }


/******NAVBAR******/
nav{
  background-color: black;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.right{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 15px;
}

  .menu_burger{
    display: none; 
}

.menu_burger svg{
   color: #fff;
   width: 60px;
   height: 80px;
   margin-top:10px;

}

.menu-burger-close{
    display: none;
}

.right a{
  color: #fff;
  font-size: 1.1em;
}


@media screen and (max-width: 1050px) {
  .menu_burger{
    display: block; 
    cursor: pointer;
}

.logo{

    margin-top: 10px;

}

.nav-burger{
    background-color: #272727;
    position: fixed;
    top: 0;
    right: 0px;
    width: 200px;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 2;
}

.nav-burger.open{
  display: flex;
    animation: transformMenu 300ms ease-in-out forwards;

}

@keyframes transformMenu {
    0% {
        transform: translateX(100%);
    }

    100%{
        transform: initial;
    }
}

.right a{
    color: #fff;
    margin: 5px auto;
}

.right{
flex-direction: column;
margin-top: 100px;
text-align: center;
}



.menu-burger-close{
   display: block;
   cursor: pointer;

}

.menu-burger-close svg{
color: #F85302;
width: 30px;
height: 40px;
top: 16px;
right: 16px;
position: absolute;
}

.overlay-menu-mobile{
   position: fixed;
   top: 0;
   left: 0;
   width:100vw;
   height: 100vh;
   background-color: rgba(0, 0, 0, 0.6);
   display: none;

}

.overlay-menu-mobile.open{
   display: block;
}

.buttonSearch{
  align-items: center;
}
}
/******SLIDER******/

.swiper {
    width: 80%;
    margin: 50px auto;
    max-height: 500px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #141414;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    max-height: 500px;
    object-fit: cover;
  }

  .swiper-pagination-bullet{
    background-color: whitesmoke!IMPORTANT;
}



/******SECTION HOME*****/


.grid-itemCategorie {
  grid-area: main;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}



.items {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  transition: all 0.2s;
  transform: scale(0.98);
  will-change: transform;
  user-select: none;
  cursor: pointer;
  padding: 20px auto;
}

.items.active {
  background: rgba(255, 255, 255, 0.07);
  cursor: grabbing;
  cursor: -webkit-grabbing;
  transform: scale(1,1);
}

.item {
  display: inline-block;
  margin: auto 4em;
  position: relative;
	overflow: hidden;
  text-decoration: none;
  transform: translate3d(0,0,0);
  width: 150px;
}


.item:hover{
  transform: scale(1.15);
}

.imgSectionCategorie{
  width: 100%;
}

.lienItem {
display: block;
}

.paraItem{
  margin-bottom: 5px;
}

.title1Home{
  margin: 30px 40px;
  color: #F3F3F3;
}

.title2Home{
  margin: 30px 40px;
}

@media screen and (max-width: 1000px){
  .item {
    margin: auto 1.5em;
    }
  }

@media screen and (max-width: 800px){
  .item {
    margin: auto 1.5em;
    }
  }


@media screen and (max-width: 750px){
  .item {
    width: 80px;
    }
  }

  @media screen and (max-width: 850px){

    .title1Home{
        text-align: center;
        margin: 30px auto;
    }
  }

  @media screen and (max-width: 750px){

    .title2Home{
        margin: 15px 20px;
    }
  }

  @media screen and (max-width: 450px){

    .title2Home{
        margin: 5px 20px;
    }
  }

/*****SECIONT VIEW CATEGORIE*******/

.containerCategorieGrid {  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". ."
    ". .";
    text-align: center;
}

.imgCategorie{
  max-block-size: 250px;
  border-radius: 10px;
}

.imgCategorie:hover{
  transform: scale(1.15);
}

@media screen and (max-width: 950px){
  .containerCategorieGrid {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    }
  }

  @media screen and (max-width: 450px){
    .containerCategorieGrid {
      max-width: 350px;
      padding-left: 10px;
      padding-right: 10px;
      }
      .imgCategorie{
        max-width: 350px;
      }
    }

    @media screen and (max-width: 450px){
      .containerCategorieGrid {
        max-width: 300px;
        }
        .imgCategorie{
          max-width: 300px;
        }
      }

  /******CATEGORIE & RECHERCHE******/

 
  .gridItemsResp {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
  }
 

  .itemCategorie{
    margin: 20px 40px;
  }

  .titleCatSearch{
    margin-left: 30px;
  }

  

/*****SECTION VIEW SPASE USER******/

.containerSpaceUsers{
  max-width: 80vw;
  margin: 0 auto;
}

.containerViewUser{
    display: flex;
    color: #545454;
    justify-content: center;
    width: 100%;
}

.containerImgUsers{
  display: contents;
}

.avatar{
    border-radius: 10px 0px 0px 0px;
    max-height: 510px;
}

.viewDescUser{
    background-image:
    linear-gradient(#DEDFE3 2%, #AEB3B9 95%),
    radial-gradient(33% 100%, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%);
    background-blend-mode: screen;
    border-radius: 0px 10px 0px 0px;
    max-height: 510px;
    text-align: center; 
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titleUsers{
  font-size: xx-large;
}

.par{
}

.formUp{
  border-radius: 0px 0px 10px 10px;
  margin: 0 auto;
  padding: 10px 10px!IMPORTANT;
}



@media screen and (max-width: 850px){

  .containerSpaceUsers{
    max-width: 80vw;
    margin: 0 auto;
    max-width: 350px;
  }

  .containerViewUser{
    flex-direction: column;
}

.viewDescUser{
  border-radius: 0px 0px 0px 0px;
}

.avatar{
  border-radius: 10px 10px 0px 0px;
}
}
/*
@media screen and (max-width: 395px){
  .containerSpaceUsers{
    max-width: 250px;
  }

  .avatar{
    max-width: 250px;
}
}

*/
 

/*****SECTION VIEW ITEM******/

.containerViewItem{
    display: flex;
    width: 80%;
    margin: 100px auto;
}

.viewDesc{
    border-radius: 0px 10px 10px 0px;
    background-image:
    linear-gradient(#DEDFE3 2%, #AEB3B9 95%),
    radial-gradient(33% 100%, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%);
    color: #545454;
    max-height: 510px;
    
}


.viewImg{
    border-radius: 10px 0px 0px 10px;
    max-height: 510px;
    max-width: 350px;
}

.viewP{
    margin: 20px;
}

.stars{
  margin-left: 20px;
}

.btnNote{
  margin-left: 20px;
  margin-top: 5px;
}

@media screen and (max-width: 835px){
  .containerViewItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    .containerImgItem{
      display: contents;
    }

    .viewDesc{
      max-width: 340px;
      max-height: none;
      border-radius: 0px 0px 10px 10px;
      padding-bottom: 5%;
    }

    .viewImg{
      border-radius: 10px 10px 0px 0px;
      max-width: 340px;
      max-height: auto;
  }
  }

  @media screen and (max-width: 450px){
    .viewImg {
      max-width: 250px;
      }
      .viewDesc{
        max-width: 250px;
        max-height: auto!IMPORTANT;
      }

      .containerViewItem {
        max-height: auto!IMPORTANT;
        }
    }

/******FORM******/

.formUser{
    background-image:
    linear-gradient(#DEDFE3 2%, #AEB3B9 95%),
    radial-gradient(33% 100%, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%);
    background-blend-mode: screen;
    padding: 40px 60px;
    border-radius: 10px;
  }

  .formLog{
    max-width: 80vw;
    margin: 0 10%;
  }

  .formUp{
    border-radius: 0px 0px 10px 10px;
    margin: 0 auto;
  }

 

  form h1{
    color: #545454;
    text-align:center;
  }
  form .social-media{
    margin-top: -10px;
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
  }
  form .social-media p{
    padding: 5px;
    width: 20px;
    margin-left: 10px;
    border-radius: 100%;
    border: 1px solid #545454;
    text-align: center;
    cursor:pointer;
    color: #545454;
  }
  form p.choose-email{
    color: #686868;
    text-align:center;
  }
  form .inputs {
    display: flex;
    flex-direction: column;
  }
  form .inputs input[type='email'], input[type='password'], input[type='text'], input[type='radio'], input[type='number'], input[type='file'], input[type='textarea']{
    padding: 15px;
    border: solid #878787;
    border-radius: 5px;
    background-color:#f2f2f2;
    outline:none;
    margin-bottom: 15px;
  }
  form p.inscription{
    font-size: 14px;
    margin-bottom: 20px;
    color: #878787;
  }
  form p.inscription span{
    color: red;
  }
  form button{
    padding: 15px 25px;
    border-radius: 5px;
    border:none;
    font-size: 15px;
    color: #f2f2f2;
    background-color: red;
    outline:none;
    cursor:pointer;
  }

textarea{
    resize : vertical;
    height: 100px;
    order: solid 3px #878787;
}

  .radio{
    margin: 0 auto;
  }

  .ecoForm{
    color: red;
    font-weight: bold;
  }


  .formDelUser{
    background-color: red!IMPORTANT;
  }

  

  /*****SPACE ADMIN******/

  .containerBtnAdmin{
    text-align: center;
  }

/****LIST USERS*****/

table {
  margin: 0px auto;
 }

.titleListUsers{
  text-align: center;
  }

  /****LIST ITEM***/

  .titleListItem{
    text-align: center;
  }

/******FOOTER******/

footer{
    color: #F3F3F3;
    background-color: #686868;
    text-align: center;
    padding:50px;
    height:50px;
    margin: 0 0;
    margin-top: 100px;
  }


  


 


